@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 6, 24, 27;
  --background-end-rgb: 6, 24, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-teal-600;
  }
  
  .bg-glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}

.animate-glow {
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 40px rgba(45, 212, 191, 0.1);
  }
  100% {
    box-shadow: 0 0 80px rgba(45, 212, 191, 0.3);
  }
}